@using hm_5.ViewModels;

<h3>Добавление игры</h3>

<form method="post" class="form-horizontal" role="form">
    <p>Для добавления заполните следующие поля:</p>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Название:</label>
        <div class="col-md-4">
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Жанр:</label>
        <div class="col-md-4">
            <input type="text" name="Category.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Дата выхода:</label>
        <div class="col-md-4">
            <input type="number" name="Release" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Добавить" />
        </div>
    </div>
</form>