@model hm_4.Models.Moderator
@{
    ViewData["Title"] = "Модераторы";
}
<h2>Удаление админа</h2>
<table class="table-condensed" cellpadding="8">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
    </tr>
    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.SecondName</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}